extends layout

block header
    form(action="#{url}", method="post")
        table
            tr
                td
                    a(href='monitorlist') モニタ一覧
                td &nbsp;&nbsp;
                td
                    a(href='rawItemList') rawアイテム一覧
                td &nbsp;&nbsp;
                td
                    a(href='presetlist') プリセット一覧
                td &nbsp;&nbsp;
                td
                    a(href='rawDataList') rawデータ一覧
                td &nbsp;&nbsp;
                td
                    a(href='evidencelist') エビデンス一覧
                td &nbsp;&nbsp;
                td
                    a(href='recoveryevilist') 対応スクリプトエビデンス一覧
 
        br
        span(class='title') #{title}
        br
        br
        div(class='error_text') #{error_msg}

block content

