doctype 5
html
  head
    title= title
    <meta charset='UTF-8'>
    script(src='/rec/javascripts/edit.js', type='text/javascript')
    link(rel='stylesheet', href='/rec/stylesheets/style.css')
  body
    block header
    block content
